<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Form page</title>
</head>
<body>
    

    <section>
        <form action="/add" method="post" class="w-[70%] mx-auto border-2  rounded-xl flex flex-col py-4 px-8 gap-3 mt-13 ">
            <input class="border border-orange-500 rounded" placeholder="Names" type="text"  name="names">
            <input class="border border-orange-500 rounded" placeholder="Age" type="number"  name="age" >
            <input class="border border-orange-500 rounded" placeholder="Email" type="email"  name="email">
            <input class="border bordex r-orange-500 rounded" placeholder="Grade" type="grade"  name="grade">
            <button class="border border-orange-500 rounded w-30 bg-orange-300 text-white" type="submit">Submit</button>
        </form>
    </section>

</body>
</html>